

body{
    font-family: 'GFS Didot', serif;
    font-size: 24px;
    font-weight: 400;  
    margin: 0; 
    color:#550000 ;

}
.navbar{
    overflow: hidden;
    background-color: rgba(255,151,0,1);

}
.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color:#550000 ;
  }
  .navbar a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
  }
  .navbar a.active {
    text-decoration: underline;
    text-decoration-color: #550000;
    background-color: rgba(255,151,0,0.5);
    color:#550000 ;
  }
  
  .navbar .icon {
    display: none;
  }
 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

  .container{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height:300%;

  }

  .item1{
      height:100%;
      background-color: #ff9700;
      display:flex;
      justify-content: center;
      align-items:center;
    font-size: 80px;
  }

  /*gradient css referenced from cssgradient.io*/
  .item2{
    display:flex;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,151,0,1) 100%);
    max-height: 100%;
    max-width: 100%;
    overflow: none;
flex-direction: row;
    align-items:center;
    justify-content: center;;
    flex-wrap: nowrap;

}

.item3{
    background-color: white;
    height: 100%;
}
  

footer{
    font-family: 'GFS Didot', serif;
    font-size: 24px;
    font-weight: 400;
}

    /*
  turn off animation here
  @media screen{
    
  }
  */
  @media screen and (min-width: 400px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  @media screen and (min-width: 800px) {
    .navbar a:not(:first-child) {display: block;}
    .navbar a.icon {
      display: none;
    }
  }