

body{
    font-family: 'GFS Didot', serif;
    font-size: 24px;
    font-weight: 400;  
    margin: 0; 
}
.navbar{
    overflow: hidden;
    background-color: rgba(255,151,0,1);

}
.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color:#550000 ;
  }
  .navbar a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
  }
  .navbar a.active {
    text-decoration:double;
    text-decoration-color: #550000;
    background-color: rgba(255,151,0,0.5);
    color:#550000 ;
  }
  
  .navbar .icon {
    display: none;
  }


  .grid-container{
    display:grid;
    height: 100%;
    width: 100%;
  }

  .item1{
      background-color: #ff9700;
      text-align:center;

  }

  /*gradient css referenced from cssgradient.io*/
  .item2{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,151,0,1) 100%);
  }

  .item3{
    background: rgb(31,107,144);
    background: linear-gradient(0deg, rgba(31,107,144,1) 0%, rgba(255,255,255,1) 100%);
  }


.item4{
    background-color: #1f6b90;
}
footer{
    font-family: 'GFS Didot', serif;
    font-size: 24px;
    font-weight: 400;
}

    /*
  turn off animation here
  @media screen{
    
  }
  */
  @media screen and (min-width: 400px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  @media screen and (min-width: 800px) {
    .navbar a:not(:first-child) {display: block;}
    .navbar a.icon {
      display: none;
    }
  }